body {
    background-color: hsl(218, 23%, 16%);

}

main {
    width: 540px;
    height: 332px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: hsl(217, 19%, 38%);
    padding-top: 10px;
}

main .comtainer {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-self: center;
    padding: 20px;

}

main h1 {
    color: hsl(193, 38%, 86%);
    text-align: center;
    margin-bottom: 20px;
}

main h2 {
    color: hsl(150, 100%, 66%);
    text-align: center;
    margin-bottom: 10px;
}